<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction Report</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div className="main-info">
      <p><strong>Account number:</strong> ******4455</p>
      <p><strong>Bank name:</strong> Fake Bank</p>
      <p><strong>IFSC code:</strong> 112233</p>
      <p>
        <strong>Total available balance:</strong> 9380
      </p>
    </div>
    <br />
    <h4>
      Detailed transactions between 16th March 2021 and 24th March 2021
    </h4>
    <table class="report-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Deposits</th>
          <th>Withdrawals</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td>2021-03-16</td>
          <td>200</td>
          <td></td>
          <td>9380</td>
        </tr>
        
        <tr>
          <td>2021-03-16</td>
          <td></td>
          <td>200</td>
          <td>9180</td>
        </tr>
        
      </tbody>
    </table>
  </body>
</html>